<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <img src="/public_blog/images/dream-big.png">
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/blogs">Blog</a>
              </li>
              <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" href="#">Action 1</a>
                      <a class="dropdown-item" href="#">Action 2</a>
                  </div>
              </li> -->
          </ul>
          <button class="d-flex btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSignIn">Sign in</button>
      </div>
</div>
</nav>

<!-- Modal -->
<div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formSignIn">
                    Username
                    <input type="text" name="username" class="form-control" required>
                    Password
                    <input type="password" name="password" class="form-control" required>
                    <button type="submit" class="btn btn-primary mt-2 float-end">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/public_blog/scripts/login.js"></script>