<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/script_style.ejs')  %> 
</head>
<body>
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs')  %> 

    <!-- Main content -->
    <div class="container">
        <p class="my-3">
            <%= message %> 
        </p>        
    </div>
    
    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>